@import "~antd/dist/antd.css";
@import "./lib/lib.css";
body {
  padding: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test-style {
  position: relative;
  border: 2px solid lightblue;
}


